@{
   
    
    
}

<link href="/Content/css/OuterCss.css" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.Core.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.Common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.DateFormat.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


<script src="~/Scripts/knockout.validation.min.js"></script>
<script src="~/Scripts/Popup.js"></script>
<script src="@Url.Content("~/Scripts/EMPMGMT.Site/EMPMGMT.Site.ForgotPassword.js")" type="text/javascript"></script>
<link href="~/Content/css/popbox.css" rel="stylesheet" />









<script type="text/javascript">

    $(document).ready(function () {

        EMPMGMT.Site.ForgotPassword.pageLoad();

    });

</script>



<!DOCTYPE html>
<html>
<head>

    <title>EMPMGMT Deployment | Forgotton Password </title>
    <link href="/Content/css/OuterCss.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="back">
            <div class="cantrol-hold">
                <div class="control-group">
                    <div class="login-logo">
                        <a href="/Home">
                            <img src="/content/images/logo.png" alt="" title=""></a>
                    </div>
                    <br />
                     <div class="input">
                              <div class="field-validation-error"><span data-bind="validationMessage: EmailAddress"></span></div>
                        </div>
                    <div class="cantrol-value1 marT40px" data-bind="validationOptions: { insertMessages: false }">
                        <div class="lable1 padT0px">Username<span class="required">*</span></div>
                        <div class="input">
                            <input style="width: 250px; height: 25px" maxlength="60" data-bind='value: EmailAddress' />
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="right123">

                        
                        <a class="button12" data-bind='click: submit' href="javascript:void()">Submit</a>
                        <a href="/login" class="forgot-password"><span>Login</span></a>


                    </div>
                    <div class="clear"></div>
                    <div class="shadowforget">
                        <img src="/content/images/shadow.png" alt="" title="">
                    </div>
                    <div class="copy-right1"></div>
                </div>
            </div>
        </div>
    }
</body>
</html>
