@model EMPMGMT.Web.ViewModels.ResetPasswordVM

@{
    Layout = null;
}
<link href="/Content/css/OuterCss.css" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.Core.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.Common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="~/Scripts/EMPMGMT.Framework/EMPMGMT.Framework.DateFormat.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


<script src="~/Scripts/knockout.validation.min.js"></script>
<script src="~/Scripts/Popup.js"></script>
<script src="@Url.Content("~/Scripts/EMPMGMT.Site/EMPMGMT.Site.ResetPassword.js")" type="text/javascript"></script>
<link href="~/Content/css/popbox.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/EMPMGMT.Messages/en-US.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        EMPMGMT.Site.ResetPassword.pageLoad();

    });

</script>

<!DOCTYPE html>

<html>
<head>
    <title>EMPMGMT Deployment | Reset Password </title>
    <link href="/Content/css/OuterCss.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
   @using (Html.BeginForm())
   {
        @Html.AntiForgeryToken()
      
        <div class="back">
            <div class="cantrol-hold">
                <div class="control-group">
                    <div class="login-logo">
                        <a href="/Home">
                            <img src="/content/images/logo.png" alt="" title=""></a>
                    </div>
                    <div class="cantrol-value1"  data-bind="validationOptions: { insertMessages: false }" >
                        <span class="lable1">Password</span>

                        <span class="input1">

                            <div class="error-msg-height" >
                                <span class="field-validation-error" >
                                    <span   class="" data-bind="validationMessage: password"></span>
                                </span>
                            </div>
                            <input maxlength="15"  type="password" style="width: 250px; height: 25px" data-bind='value: password' /></span>
                        <div class="clear"></div>
                    </div>
                    <div class="cantrol-value1" data-bind="validationOptions: { insertMessages: false }" >
                        <span class="lable1">Confirm Password </span>

                        <span class="input1">

                            <div class="error-msg-height" >
                                <span class="field-validation-error" data-valmsg-replace="true" >
                                    <span  class="" data-bind="validationMessage: cpassword"></span>
                                </span>
                            </div>
                            <input maxlength="15" type="password" style="width: 250px; height: 25px" data-bind="value: cpassword" /></span>
                        <div class="clear"></div>
                    </div>





                   
                   
                    
                   <div class="rightReset">
                      
                        <div class="btnouter">
                            <a class="button12" data-bind='click: submit' href="javascript:void()">Submit</a>
                        <a href="/login" class="forgot-password"><span>Login</span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="shadow345">
                        <img src="/content/images/shadow.png" alt="" title="">
                    </div>
                    <div class="copy-right1"></div>
                </div>
                   
                
            </div>
        </div>
       @Html.HiddenFor(model=>model.UserId)
   }
</body>

</html>
