@model EMPMGMT.Web.ViewModels.ActionItemVM
@using EMPMGMT.Web.ViewModels
@{
    ViewBag.Title = "Task Description";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout.mapping.js")"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/knockout.validation.min.js")"></script>
    <script src="~/Scripts/file-upload/jquery.uploadfile.js"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/file-upload/jquery.form.js")"></script>
    <link href="~/Scripts/file-upload/uploadfile.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Popup.js")"></script>
    <script src="~/Scripts/AutoComplete.js"></script>
    <link href="~/Content/css/popbox.css" rel="stylesheet" />

    
    <link href="~/Content/css/circle.css" rel="stylesheet" />
    <script src="~/Scripts/progress-circle.js"></script>
    <script src="@Url.Content("~/Scripts/EMPMGMT.User/EMPMGMT.User.ActionItemDescription.js")" type="text/javascript"></script> 

   <style type="text/css">
       .removespace { white-space:nowrap;
       }

   </style>

   


}
 @section ReadyScripts
{
EMPMGMT.User.ActionItemDescription.pageLoad();
    
}

<div class="row" style="background:#fff">
    <div class="col-md-12">
     
       <a class="btn btn-primary redirectBack pull-right" href="@Request.UrlReferrer">Back</a>

    </div>

<div class="clearfix" style="font-size:120%;">
    <div class="col-md-12">
        
        <div class="form-group">
           @* <label class="col-md-4 col-xs-6 control-label">Task Name </label>*@
            <h4 class="col-md-12 col-xs-12"><b>@Model.ItemName </b></h4>
            @Html.HiddenFor(model => model.ActionItemId, new {id="hdnActionItemId" })
        </div>
         
             

        <div class="form-group col-md-12 col-xs-12">
            <label class="col-md-1 col-xs-2 control-label removespace" >Start Date :</label>
            <div class="col-md-1 col-xs-2">
                @if (Model.StartDate != null)
                {
                    @Model.StartDate.Value.ToString("MM/dd/yyyy")
                }
            </div>
             @if (Model.PriorityDescription=="")
            { <div class="col-md-1 col-xs-6 pull-right">@Model.PriorityDescription</div>}
            else
            { <div class="col-md-2 col-xs-6 pull-right"><b> ( @Model.PriorityDescription )</b></div>}

           @*  <div class="form-group">*@
              <div class="col-md-1 col-xs-6 pull-right" style="text-align:left;">
                @if (Model.DueDate != null)
                {
                    @Model.DueDate.Value.ToString("MM/dd/yyyy")
                }
            </div>
            <label class="col-md-2 col-xs-6 control-label removespace pull-right" style="text-align:right;" >Estimated Date : </label>
          

        @*</div>
             <div class="form-group">*@
          @*  <label class="col-md-1 col-xs-6 control-label removespace">Priority : </label>*@
           
           
        </div>
     <div class="form-group  col-md-12 col-xs-12">
            <label class="col-md-1 col-xs-6 control-label removespace">Responsible :</label>
            <div class="col-md-2 col-xs-6 removespace" style="text-align:left;">@Model.ResponsiblesFullName</div>
        </div>

       @* <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Is Archived </label>
            <div class="col-md-6 col-xs-6">@Html.CheckBoxFor(model => model.IsArchived, new { @class = "Class1", @disabled = true })</div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Priority  </label>
            <div class="col-md-6 col-xs-6">@Model.PriorityDescription</div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Responsible </label>
            <div class="col-md-6 col-xs-6">@Model.ResponsiblesFullName</div>
        </div>*@
        <div class="form-group  col-md-12 col-xs-12">
            <label class="col-md-12 col-xs-12 control-label">Description :  </label>
            <textarea style="border:solid rgba(49, 47, 47, 0.82) 1pt; background:transparent; height:200px; resize:none;" readonly="readonly" class="col-md-12 col-xs-12">@Model.Description</textarea>
        </div>

         <div class="form-group  col-md-12 col-xs-12">
             <label class="col-md-1 col-xs-6 control-label">Status :</label>
            <div class="col-md-6 col-xs-6" id="statusDiv" style="text-align:left;" status='@(Model.Status)'></div>
        </div>

      @*  <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Due Date </label>
            <div class="col-md-6 col-xs-6">
                @if (Model.DueDate != null)
                {
                    @Model.DueDate.Value.ToString("MM/dd/yyyy")
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Email Notification  </label>
            <div class="col-md-6 col-xs-6">@Html.CheckBoxFor(model => Model.IsSendEmailNotification, new { @class = "Class1", @disabled = true })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 col-xs-6 control-label">Status</label>
            <div class="col-md-6 col-xs-6" id="statusDiv" status='@(Model.Status)'>
            </div>
        </div>
      *@


        <br />
           <div class="table-responsive" id="divdocuments">
               <div >
                   <h4>Documents</h4>
               </div>
                                <table summary="Documents" class="table table-bordered mb-none tableDocument" id="hor-zebra1" >
                                    <thead>
                                        <tr class="primary">
                                            <th scope="col">Document Name</th>
                                            <th scope="col">Date</th>
                                           @* <th scope="col">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody data-bind="template: { name: 'ActionItemDocumentsTemplate', foreach: DashboardDocumentsList }">
                                    </tbody>
                                    <tr class="_DocumentsNoRecord displaynone">
                                        <td><b>No Record Found</b></td>
                                    </tr>

                                </table>
                                <div class="pager _RCADocumentsPager marL4px"></div>
                          <script type="text/html" id="ActionItemDocumentsTemplate">
    <tr>
        <td>
            <a data-bind="text: DocumentName, attr: { href: DownloadDocument, target: '_blank' }"></a> @*extn  , *@
        </td>
         <td>
            <label data-bind="text: Date"></label>
        </td>
        @*<td>
            <a href="javascript:void(0)" class="permissionbased"  data-permission="@string.Concat(Constants.MODULE_Projects, Constants.PERMISSION_DELETE)" data-bind="click: DeleteDocument" title="Delete File">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>*@
    </tr>
</script>
                            </div>

    </div>

</div>



</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#statusDiv').progressCircle({
            nPercent: $('#statusDiv').attr('status'),
            showPercentText: true,
            thickness: 7,
            circleSize: 35
        });
    });
</script>
<style>
    .disabledchk { }
</style>


