@model EMPMGMT.Web.ViewModels.ProjectVM
@using EMPMGMT.Utility
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section scripts {  
    
    <script src="@Url.Content("~/Scripts/EMPMGMT.User/EMPMGMT.User.ProjectList.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AutoComplete.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('label .error').css('display', 'none');
          
        function CheckValidation() {           
            $(this).validate(function () {               
              $('label .error').css('display', 'none');
                return false;
            });
           
        }

    </script>

}
@section ReadyScripts
{
EMPMGMT.User.ProjectList.pageLoad();
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="panel-body">
               

        <div class="modal-header">

            <h2 class="modal-title">
                @if (Model.ProjectId == null)
                {
                    <span>Create</span>
                }
                else
                {
                    <span>Edit</span>
                }
                Project</h2>


            <div class="form-group">  @*data-bind="validationOptions: { insertMessages: false }"*@
                <label class="col-sm-4 control-label">Title <span class="required">*</span></label>
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.ProjectId, new { id = "hdnProjectId" })
                    @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control _clearProfile", @maxlength = "50" })
                    <span class="error">@Html.ValidationMessageFor(model => model.ProjectName)</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputSuccess" class="col-sm-4 control-label">Project Lead<span class="required">*</span></label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control _clearProfile _ResponsibleUserAutoComplete" })
                    @Html.HiddenFor(model => model.ProjectLead)
                     <span class="error">@Html.ValidationMessageFor(model => model.FullName)</span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label">Project Code<span class="required">*</span></label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ProjectCode, new { @class = "form-control _clearProfile", @maxlength = "50" })
                    <span class="error">@Html.ValidationMessageFor(model => model.ProjectCode)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Project Description@*<span class="required">*</span>*@</label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.ProjectDescription, new { @class = "form-control _clearProfile", @maxlength = "50", style="resize:none;" })
                    <span class="error">@Html.ValidationMessageFor(model => model.ProjectDescription)</span>
                </div>
            </div>
           @* <div class="form-group">
                <label class="col-sm-4 control-label">Communication EmailId</label> @*<span class="required">*</span>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CommunicationEmailId, new { @class = "form-control _clearProfile", @maxlength = "50" })
                    <span class="error">@Html.ValidationMessageFor(model => model.CommunicationEmailId)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Communication EmailPassword</label> @*<span class="required">*</span>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CommunicationEmailPassword, new { @class = "form-control _clearProfile", @maxlength = "50" })
                    <span class="error">@Html.ValidationMessageFor(model => model.CommunicationEmailPassword)</span>
                </div>
            </div>*@

            <div class="form-group">
                <label class="col-sm-4 control-label">SourceControlDetail@*<span class="required">*</span>*@</label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.SourceControlDetail, new { @class = "form-control _clearProfile", @maxlength = "50", @style="resize:none" })
                    <span class="error">@Html.ValidationMessageFor(model => model.SourceControlDetail)</span>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-4 control-label">Project Url@*<span class="required">*</span>*@</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ProjectUrl, new { @class = "form-control _clearProfile", @maxlength = "200" })
                    <span class="error">@Html.ValidationMessageFor(model => model.ProjectUrl)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Status@*<span class="required">*</span>*@</label>
                <div class="col-md-8">
                  @Html.DropDownListFor(model => model.Status, new  List<SelectListItem>{new SelectListItem{Selected=true, Text=Enums.ProjectStatus.Pipeline.ToString(), Value="1"}, new SelectListItem{ Text=Enums.ProjectStatus.InProgress.ToString(), Value="2"}, new SelectListItem {Value="3", Text=Enums.ProjectStatus.Halted.ToString()},new SelectListItem {Value="4", Text=Enums.ProjectStatus.Completed.ToString()}}, new { @class = "form-control _clearProfile"})
                     @* @Html.RadioButtonFor(m => m.Status, "1", new { @checked = true }) Done
                                @Html.RadioButtonFor(m => m.Status, "2") InProgress
                                @Html.RadioButtonFor(m => m.Status, "3") Pending*@
                                <span class="error">@Html.ValidationMessageFor(model => model.Status)</span>
                </div>
            </div>

                <div class="form-group">
                <label class="col-sm-4 control-label">Start Date</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.StartDate,"{0:MM/dd/yyyy}", new { @class = "form-control _clearProfile", Value = @DateTime.Now.ToString("MM/dd/yyyy"), @maxlength = "50", id = "StartDate" })
                   
                    <span class="error">@Html.ValidationMessageFor(model => model.StartDate)</span>
                </div>
            </div>
            <div class="form-group responsible-popup">
                <label class="col-sm-4 control-label">End Date</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.EndDate,"{0:MM/dd/yyyy}", new { @class = "form-control _clearProfile", @maxlength = "50", id = "EndDate" }) @*,Value = @DateTime.Now.ToString("MM/dd/yyyy")*@
                    <span class="error">@Html.ValidationMessageFor(model => model.EndDate)</span>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-sm-4 control-label">Resources<span class="required">*</span></label>
                @*@Html.DropDownListFor(m=>m.Resources, new SelectList (ViewBag.dropUser as System.Collections.IEnumerable,"UserId", "FullName"),  new { id = "ddlResources", @class = "form-control"  });*@
              <div class="col-sm-8">
                    <div class="w100pc" style="z-index: -1" id="ResponsibleUserAutoComplete1">
                    <div class="responsibleUserAutoComplete1-display watermark-block" data-bind=" visible: ResponsibleTempList().length == 0">Responsible</div>
                    <div class="responsibleUserAutoComplete1-display" data-bind=" visible: ResponsibleTempList().length > 0, template: { name: 'ActionItemResponsibleTemplate', foreach: ResponsibleTempList }"></div>
                </div>
                  </div>
                <script type="text/html" id="ActionItemResponsibleTemplate" class="_responsible-inner">
                    
                    <div class="responsible-popup-block">
                        <a class="floatleft" data-bind=" text: FullName " style="margin-right: 1px;"> @*attr: { href: ProjectAssigneeUrl }*@
                        </a>
                  
                        <img style="cursor: pointer;" class="floatright permissionbased" data-permission="@string.Concat(Constants.MODULE_Projects, Constants.PERMISSION_DELETE)" src="/Content/images/remove.png" width="14" height="14" data-bind="click: RemoveResourcesAction" title="Delete" />
                    </div>
                  
                </script>
            </div>
              @Html.HiddenFor(model => model.GblprojectLead, new { id = "GblprojectLead" })
              <input type="hidden" id="values" value="@ViewBag.json" />

           <div class="clear"></div>

        </div>
        <footer class="panel-footer pl-none pr-none">
                <div class="form-group">
                     <label for="inputSuccess" class="col-sm-4 control-label"></label>
                     <div class="col-sm-8">
                    <a class="btn btn-primary pull-right ml-xs " onclick="javascript:window.history.go(-1);">Cancel</a> @* href="/Employee/ProjectList"*@
                 
                            <input type="submit" value="Save" onclick="CheckValidation" data-permission="@string.Concat(Constants.MODULE_Projects, Constants.PERMISSION_EDIT)" class="button btn btn-primary pull-right permissionbased _SaveProject" />

                   
                </div>
            </div>
        </footer>
    </div>
}

